.pos-cashmanagement {
    position: relative;
    &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 1px solid lighten($cgrey, 30);
        padding: 1.5rem 1rem;
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.1);
        @include transition ($all);
        i {
            font-size: 1.4rem;
            color: $cdark;
            font-weight: 700;
            margin-right: 0.75rem;
        }
        span {
            font-size: 1.2rem;
            color: #141414;
            font-weight: 600;
        }
        &:hover {
            background-color: darken($corange, 10);
            i, span {
                color: $cwhite;
                text-decoration: none;
            }
        }
    }
}

.cmView {
    padding: 1rem;
    .nav {
        border-bottom: none;
        a {
            border-radius: $border8;
            color: $cdark;
            background-color: lighten($color: $cdark, $amount: 75);
            &.active {
                color: $cwhite;
                background-color: $corange;
                border-radius: $border8;
            }
        }
    }

    &__heading {
        text-align: center;
        margin: 0.75rem 0 0; 
        padding: 1rem;
        h4 {
            font-size: 1.4rem;
            font-weight: 700;
        }
    }

    .tab-content {
        .tab-pane {
            .closeDrawer {
                padding: 1rem;
                border: 1px solid lighten($cgrey, 20);
                border-radius: $border12;
                @include box-shadow($light-bs);
                .product {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid lighten($cgrey, 20);
                    padding: 1rem;
                    &__name{
                        font-size: 1.2rem;
                        color:$cdark
                    }
                    &__price{
                        font-size: 1.2rem;
                        color:$cdark;
                        font-weight: 500;
                    }
                    &:last-child {
                        border-bottom: none;
                        .product__name, .product__price {
                            font-size: 1.4rem;
                            color:$cdark;
                            font-weight: 700;
                        }
                    }
                    .action {
                        display: flex;
                        align-items: center;
                        .product__name {
                            min-width: 220px;
                        }
                        .btn-action {
                            min-width: 140px;
                            padding: 0.25rem 0.65rem;
                            &.btn-danger {
                                background-color: $corange;
                                &:hover {
                                    background-color: darken($corange, 5);
                                }
                            }
                        }
                    }
                }
            }
            .dataTable {
                margin-top: 2rem;
                border: 1px solid lighten($cgrey, 20);
                border-radius: $border12;
                @include box-shadow($light-bs);
                .table {
                    margin-bottom: 0;
                    thead {
                        th {
                            font-size: 1.2rem;
                            color: darken($corange, 10);
                        }
                    }
                    tbody {
                        th, td {
                            font-size: 1.1rem;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.email-dr {
    .input-group {
        input {
            margin-right: 0;
        }
    }
    input {
        height: 48px;
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        padding: 8px 10px;
        border: 1px solid $cgrey;
        margin: 0 5px 5px 0;
        border-radius: $border8;
        &:hover {
            border-color: $corange;
        }
        &:focus {
            border-color: $corange;
            outline: none;
            box-shadow: none;
        }
        &:active {
            border-color: $corange;
            outline: none;
            box-shadow: none;
        }
    }
}

.drawersummary__deposite {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
    border: 1.3px solid $cgrey;
    border-radius: 0.5rem;
    &--amount {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $cgrey;
        margin-bottom: 0.5rem;
        padding: 0.4rem;
        p {
            font-size: 16px;
            font-weight: 500;
        }
        input {
            font-size: 1.2rem;
            border: none;
            text-align: right;
            width: 150px;
            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
            &:active {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }
    }
    &--decs {
        textarea {
            font-size: 1rem;
            border: none;
            width: 100%;
            &:focus {
                border: none;
                box-shadow: none;
                outline: none;
            }
            &:active {
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
}