.prodList {
    padding: 1rem;
    ul {
        border: 1px solid lighten($cgrey, 20);
        border-radius: $border12;
        @include box-shadow($light-bs);
        li {
            
            .productList{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid $border-color;
                padding: 2rem 1.5rem;
                line-height: 1rem;
                @include transition($all);
                &__heading {
                    color: lighten($cdark, 10);
                    font-size: 1.4rem;
                    font-weight: 600;
                    margin-bottom: 0px;
                }
                &__num {
                    font-size: 1.2rem;
                    color: lighten($cdark, 20);
                }
                &:hover {
                    background-color: lighten($color: $cdark, $amount: 75);
                    border-radius: $border12;
                }
            }
        }
    }
}